body {
  font-family: "Helvetica";
   background-color: floralwhite;
   background-image: url("./z.jpg");
   background-size: cover;
    background-position: center;
      color: "#5bbad5";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image-section {
   
    background-image: url("./z.jpg");
    background-size: cover;
    background-position: center;
    text-align: center
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 100%;
      display: block;
    margin-left: auto;
    margin-right: auto
}



.header__subtitle {
  color: brown;
  font-size: 50px;
  line-height: 1.4;
  margin: 0;
   text-align: center;
}

.links {
  width: 300px;
  margin-bottom: 50px;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
   width: 300px;
 
  border-radius: 10px;
  display:  flex;
  flex-direction: column;
  align-items: space-between;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 1;
  box-sizing: content-box;
  margin: 0;

}

.links__link,
.links__title {
  font-size: 15px;
  font-size: 1.4;

}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 3px solid #dadada;
  width: 300px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #cb782f;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #cb782f;
  border-radius: 20px;

  font-size: 14px;
  line-height: 1.4;

  color: #ffffff;
  text-decoration: none;


}


